.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
 
  @include respond(phone){
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.803), rgba(40, 180, 133, 0.81)),
    url(../img/nat-4.jpg);
  background-size: cover;
  //top left, top right, bottom right, bottom left -> clippy tool
  // clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);

  transform: skewY(-7deg);
  margin-top: -11rem;
  //we skew the children in the other direction to compensate for skewing the section
  //select everything * that is a direct child > of this element
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port){
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;

  position: relative;

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.book {
  //when you have two colors at the same percentage it will make a sharp cut, much like what clip path would look like

  background-image: linear-gradient(105deg,rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%),
    url("../img/nat-10.jpg");

  //cover and 100% are the same thing
  background-size: 100%;

  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  background-size: cover;


  @include respond(tab-land){
    background-image: linear-gradient(105deg,rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 70%, transparent 70%),
    url("../img/nat-10.jpg");


  }

  @include respond(tab-port){
    background-image: linear-gradient(to right, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%),
    url("../img/nat-10.jpg");


  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land){
     width: 70%;
    }

    @include respond(tab-port){
      width: 100%;
     }
  }
}
