// 1200px, 1200/16 = 75 
$bp-largest: 75em; 

// 1100 px , 1100/16 = 68.75
$bp-large: 68.75em; 

// 900px, 900/16 = 56.25
$bp-medium: 56.25em;


// 600x, 600/16 = 37.5
$bp-small: 37.5em; 

// 500x, 500/16 = 31.25
$bp-smallest: 31.25em; 



.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;

    // to account for when changing default font size which effects the rem size
    max-width: 100%;
    width: 100%;
  }

}


.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-1);
  font-size: 1.4rem;

  //display in a row, with space between an center on y axis
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest){
    flex-wrap: wrap;
    height: 12rem;

    //controls the space between the rows 
    align-content: space-around;
  }

}

//our flex container
.content {
  display: flex;

  @media only screen and (max-width: $bp-medium ){
    flex-direction: column;

  }
}

//flex item
.sidebar {
  background-color: var(--color-grey-dark-1);

  //flex syntax
  // flex-grow: 0;
  // flex-shrink: 0;
  // flex-basis: 18%;
  //will allow  the sidebar to take up 18% of the flex container
  flex: 0 0 18%;

  //laying out the sidebar items
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//flex item
.hotel-view {
  //wil tell the item to grow as much as it can
  flex: 1;
  background-color: white;
 
}

//parent of description and user reviews
.detail {
font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);


  //when doing max-width:  must put the smaller one last because last one will apply is there was conflicts

  @media only screen and (max-width: $bp-medium){
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small){
    flex-direction: column;
    
  }
}

.description {
  
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;

  @media only screen and (max-width: $bp-medium){
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small){
    margin-right: 0;
    margin-bottom: 3rem;
    
  }
}

.user-reviews {
// for the reviews taking up the rest of the flex container (~40%) tht description is not using 
  flex: 1;

  //for centring show all button
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner{
   
    background-color: rgba(white, 0.8);
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 2rem;
    left: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    padding: 2rem;
    padding-bottom: 30px;
    z-index: 50;

    @media only screen and (max-width: 1200px) {
      width: 82%;
      top: 14rem;
      left: 18%;
    }

    @media only screen and (max-width: 900px) {
      width: 100%;
      top: 18rem;
      left: 0;
    }

    @media only screen and (max-width: 500px) {
      width: 100%;
      top: 22rem;
      font-size: 1.2rem;
    } 

    &--link {
      &:link,
      &:visited {
        color: var(--color-primary);
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid var(--color-primary);
        padding: 2px;
        font-size: 1.4rem;
        transition: all 0.2s;
      }

      &:hover {
        background-color: black;
        color: var(--color-primary);
        //x, y, blur, color
        box-shadow: 0 1rem 2rem rgba(var(--color-primary), 0.7);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 0 0.5rem 1rem rgba(var(--color-primary), 0.7);
        transform: translateY(0px);
      }
    }
  
}
